* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* font-family: "News Cycle", sans-serif; */
  font-family: "Mukta Vaani", sans-serif;
  /* background-color: #262626; */
  color: black;
  overflow: overlay;
  overflow-x: hidden;
  background-color: #f5f7f0;
}

main {
  height: 100%;
}

p {
  font-family: "Mukta Vaani", sans-serif;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: "Khand", sans-serif;
  font-size: 100px;
  letter-spacing: 0.1em;
  margin-top: 4.4rem;
}

h3 {
  text-align: center;
  font-size: 25px;
}

/* Navbar COMMENT */
header {
  position: fixed;
  font-family: "Khand", sans-serif;
}

li {
  list-style: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar {
  background-color: transparent;
  min-height: 70px;
  padding: 0 24px;
  letter-spacing: 0.2em;
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar .nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

.navbar[id="grayNav"] {
  background-color: #262626;
}

#nav-branding {
  font-size: 2.3rem;
  color: #f5cb5c;
}

.nav-link {
  transition: 0.3s ease;
}

.nav-link:hover {
  color: #f5cb5c;
}

/* Nav animation of line COMMENT */

.nav-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Hamburger icon COMMENT */
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Hero banner COMMENT*/
#hero-image {
  height: 944px;
  background-image: url(/FrontendProject/images/cage-gray.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-text {
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-header {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0;
}

#octagon-head {
  color: #f5cb5c;
  -webkit-text-stroke: 2px black;
}

#hero-description {
  color: white;
}

#exploreButton {
  margin-top: 3.5em;
  margin-left: 50em;
  margin-right: 50em;
  padding: 1em 5em;
  display: block;
  text-decoration: none;
}

#exploreButton:hover {
  background-color: #e9ba3a;
}

.button-style {
  font-family: "Mukta Vaani", sans-serif;
  transition: 0.3s ease;
  border: 2px solid black;
  background-color: #f5cb5c;
  color: black;
  padding: 20px;
  cursor: pointer;
}

/* Scroll bar COMMENT */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #f5cb5c;
}

::-webkit-scrollbar-thumb:hover {
  background: #e9ba3a;
}

/* When you scroll, navbar changes */
.changeColor {
  background-color: #262626;
  /* add transition later TODO  */
}

/* BASIC RULES SECTION COMMENT */
.main-paragraphs {
  text-align: center;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 3rem;
}

#main-par {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#winning-options {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 50px;
  margin-bottom: 120px;
}

.winning-boxes {
  border: 2px solid black;
  padding: 3rem;
  background-color: #f5cb5c;
  text-align: center;
  font-family: "News Cycle", sans-serif;
  width: 350px;
  height: 420px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 0;
}

.winning-types {
  font-size: 50px;
  font-weight: 700;
}

#center-winning-boxes {
  margin-top: 50px;
}

/* FIGHTERS PAGE COMMENT */
.container {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
}

input[type="text"] {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 20px;
  width: 80%;
  border: 2px solid black;
  border-right: none;
  font-family: "News Cycle", sans-serif;
  font-size: 20px;
}

#fighterButton {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
  padding: 20px;
  width: 20%;
  text-align: center;
}

#fighterButton:hover {
  background-color: #e9ba3a;
  cursor: pointer;
}

.result {
  color: black;
  text-decoration: none;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

table {
  border-collapse: separate;
  border: 2px solid black;
  margin-bottom: 20px;
}

#table-container {
  margin-left: 10%;
  width: 80%;
  background-color: #f5cb5c;
}

td {
  width: 10%;
  text-align: center;
}

td a {
  text-decoration: none;
  color: black;
}

td a:hover {
  text-decoration: underline;
}

/* RANKINGS PAGE COMMENT */

#rankingsData {
  margin-top: 2em;
  padding: 20px;
  width: 20%;
  text-align: center;
  font-size: 20px;
  margin-right: 20%;
}

#weight-box {
  display: flex;
}

select {
  padding: 20px;
  margin-top: 40px;
  margin-left: 20%;
  /* margin-right: 20%; */
  width: 1000px;
  /* margin-right: 20%; */
  font-family: "News Cycle", sans-serif;
  font-size: 20px;
}

/* SCHEDULE PAGE COMMENT */

#for-more-information {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  gap: 5px;
  margin-top: 20px;
}

#for-more-information a {
  color: black;
}

.button-center {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

#scheduleData:hover {
  background-color: #e9ba3a;
  cursor: pointer;
}

/* Loading icons */
.preload {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

#schedule {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  /* border: 2px solid black; */
  font-size: 20px;
}

.fight-event-boxes {
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 30px;
}

.fight-flex {
  display: flex;
  justify-content: space-around;
}

.fight-flex div {
  margin: 20px 20px;
}

/* MEDIA QUERIES  COMMENT*/

@media screen and (max-width: 768px) {
  /* Hamburger */
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navbar {
    justify-content: space-between;
  }

  .nav-menu {
    position: fixed;
    left: 100%;
    top: 60px;
    /* top: 9%; */
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .navbar .nav-menu {
    gap: 0;
  }

  .nav-position {
    position: fixed;
    left: 100%;
    top: 168px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active,
  .nav-position.active {
    left: 0;
  }

  .nav-animation:after {
    width: 0;
  }

  #hero-header {
    font-size: 60px;
    margin-left: 40%;
    margin-right: 40%;
  }

  #hero-description {
    font-size: 20px;
  }
}
